<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand text-success font-weight-bold" routerLink="/recipes"
    >RCP Book</a
  >
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active bg-info rounded">
        <a class="nav-link" routerLink="/recipes">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active bg-info rounded">
        <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown dropleft">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Manage</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item text-success" (click)="onSaveData()"
            >Save Data</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-success" (click)="onFetchData()"
            >Fetch data</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
