<div class="row mt-4 ml-2">
  <div class="container-fluid">
    <div class="col-xs-12">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="col-xs-12 justify-content-around row">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
        <div class="row mt-5 bg-light">
          <div class="col-xs-12 container-fluid">
            <div class="form-group mt-2">
              <label for="name">Recipe Name</label>
              <input
                type="text"
                formControlName="name"
                id="#name"
                placeholder="Ex: Burger"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xs-12 container-fluid bg-light">
            <div class="form-group mt-2">
              <label for="imagePath">Image Path</label>
              <input
                type="text"
                formControlName="imagePath"
                id="#image"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xs-12 container-fluid bg-light">
            <div class="form-group">
              <img
                [src]="recipeForm.value['imagePath']"
                class="img img-thumbnail"
              />
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-xs-12 container-fluid bg-light">
            <div class="form-group mt-2">
              <label for="description">Description</label>
              <textarea
                formControlName="description"
                id="#description"
                rows="6"
                class="form-control"
                placeholder="Enter description...."
              ></textarea>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div
            class="col-xs-12 container-fluid bg-light"
            formArrayName="ingredients"
          >
            <div
              class="row p-3"
              *ngFor="let ingredientCtrl of controls; let i = index"
              [formGroupName]="i"
            >
              <div class="col-xs-8 mr-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingredient Name"
                  formControlName="name"
                />
              </div>
              <div class="col-xs-2 mr-3">
                <input
                  type="number"
                  name="amount"
                  class="form-control"
                  placeholder="Amount"
                  formControlName="amount"
                />
              </div>
              <div class="col-xs-3">
                <button class="btn btn-danger">x</button>
              </div>
            </div>
            <hr />
            <div class="row pb-2">
              <div class="col-xs-12">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="onAddingIngredient()"
                >
                  Add Ingredient
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
