<div class="container-fluid">
  <div class="row p-2 mt-3 ml-1">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button
          type="button"
          class="btn btn-danger dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Manage Recipe
        </button>

        <div class="dropdown-menu" appDropdown>
          <a
            class="dropdown-item"
            (click)="onAddToShopingList()"
            style="cursor: pointer"
            >Add To Shopping List</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onRecipeEdit()">Edit Recipe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onRecipeDelete()">Delete Recipe</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid m-2 mt-4 bg-light">
    <div class="row my-3 bg-light">
      <div class="col-xs-12">
        <img src="{{ recipe.imagePath }}" alt="" class="img-fluid rounded" />
      </div>
    </div>

    <div class="row px-2">
      <div class="col-xs-12 display-3 text-muted my-1">
        <h1 class="text-success pl-3">{{ recipe.name }}</h1>
      </div>
    </div>

    <div class="row p-2">
      <div class="container-fluid">
        <div class="col-xs-12 display-5 mb-3 p-2 bg-white rounded text-info">
          {{ recipe.description }}
        </div>
      </div>
    </div>

    <div class="row pb-4">
      <div class="container-fluid">
        <div class="col-xs-12 display-5">
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let ingredient of recipe.ingredients"
            >
              {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
