<div
  class="jumbotron jumbotron-fluid mt-2 bg-light container-fluid mx-auto mr-left"
>
  <div class="container text-center p-0 m-0">
    <h1 class="display-4 p-0 m-0">Please Select a Recipe</h1>
    <p class="lead p-0 m-0">
      Please select a Recipe to view the details and ingredients.
    </p>
  </div>
</div>
