<div class="row">
  <div class="container-fluid">
    <div class="col-xs-10">
      <app-shoping-edit></app-shoping-edit>
      <hr class="bg-secondary rounded" style="height: 0.2rem" />
      <ul class="list-group">
        <a
          class="list-group-item border-success text-secondary text-capitalize"
          style="cursor: pointer; text-decoration: none"
          *ngFor="let ingredient of ingrediens; let i = index"
          (click)="onIngredientSelect(i)"
          >{{ ingredient.name }} ({{ ingredient.amount }})</a
        >
      </ul>
    </div>
  </div>
</div>
