<div class="row mt-5 bg-light p-2 rounded">
  <div class="container-fluid">
    <div class="col-xs-12">
      <form class="p-0" (ngSubmit)="onAddIngredient(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              placeholder="Ex: Apple"
              name="name"
              required
              ngModel
            />
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              id="amount"
              class="form-control"
              placeholder="0"
              name="amount"
              required
              ngModel
              pattern="^[1-9]+[0-9]*$"
            />
          </div>
        </div>
        <div class="row">
          <div class="container-fluid">
            <div class="col-xs-12 mb-5">
              <button
                class="btn btn-success btn-lg mx-2 p-2"
                type="submit"
                [disabled]="!f.valid"
              >
                {{ editingMode ? "Update" : "Add" }}
              </button>
              <button
                class="btn btn-danger btn-lg mx-2 p-2"
                type="button"
                (click)="onDelete()"
              >
                Delete
              </button>
              <button
                class="btn btn-warning btn-lg mx-2 p-2 text-white"
                type="button"
                (click)="onClear()"
              >
                Clear
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
