<div
  class="container-fluild mb-2 p-2 rounded shadow-lg"
  routerLinkActive="active bg-warning"
>
  <a
    style="cursor: pointer"
    [routerLink]="[index]"
    class="list-group-item clearfix my-2 rounded border-top bg-light p-3"
  >
    <div class="float-left my-auto">
      <h4 class="list-group-item-heading text-success">{{ recipe.name }}</h4>
      <p class="list-group-item-text text-info">
        {{ recipe.description | slice: 1:100 }}
      </p>
    </div>
    <span class="float-right">
      <img
        src="{{ recipe.imagePath }}"
        alt=""
        class="img-fluid img-thumbnail"
      />
    </span>
  </a>
</div>
